<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bumptech.glide.integration.okhttp" >

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="32" />

    <application>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>